!!!
%html.no-js
  = head
  %body
    .wrapper
      %header{:role => "banner"}
        .container{:style => 'position: relative;'}
          = render :partial => 'layouts/logo'
          = yield :mobile_navigation
      #main{:role => "main"}
        = yield
      = render :partial => 'layouts/footer'
    = scripts
