- content_for :title do
  Golf Challenge
= currently_at 'Golf Challenge'

%section.panel#stories
  .container
    .stories
      %h2
        6th Annual Uuttukuu Snow Golf Challenge SUCCESS!
      .news-shrink
        %p All because of YOU we are able to provide educational scholarships and preserve the Inupiaq language and culture!
        %p We couldn’t have done it without all the fun-loving participants and generous sponsors.
        %p Thank you so much for making the 2015 Uuttukuu Snow Golf Challenge a record-breaker.
        %p Together, we raised over $41,000.
        %p Taikuullapiaq!
        %p Thank you very much!
        .video-wrap
          %iframe{src: 'https://player.vimeo.com/video/125637435',
                  width: '500',
                  height: '281',
                  frameborder: '0',
                  webkitallowfullscreen: '',
                  mozallowfullscreen: '',
                  allowfullscreen: ''}
        #grid
          %ul.gallery
            %li.grid-item
              = image_tag 'pics/news/success/golf (4).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (5).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (7).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (1).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (2).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (3).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (6).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (8).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (9).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (10).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (11).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (12).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (13).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (14).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (15).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (16).jpg', alt: 'Golf Challenge'

        = image_tag 'pics/news/uuttukuu-logo.jpg', :alt => 'Uuttukuu Logo'
