%section#hero
  #carousel
    .slide
      = image_tag 'heroes/home-989.jpg', :alt => 'Aqqaluk Trust', :width => '989', :height => '550'
      %div This is a test 1.
    .slide
      = image_tag 'heroes/camp-989.jpg', :alt => 'Camp Sivu', :width => '989', :height => '550'
      %div This is a test 2.
    .slide
      = image_tag 'heroes/student-989-fade.jpg', :alt => 'Scholarships', :width => '989', :height => '550'
      %div This is a test 3.
    .slide
      = image_tag 'heroes/culture-989.jpg', :alt => 'Language and Culture', :width => '989', :height => '550'
      %div This is a test 4.
  = link_to '', '#', :title => 'Show previous', :id => 'prev', :class => 'carousel-sides'
  = link_to '', '#', :title => 'Show next', :id => 'next', :class => 'carousel-sides'
  #pager
    %a.selected{href: "#"}
      %span 1
    %a{href: "#"}
      %span 2
    %a{href: "#"}
      %span 3
    %a{href: "#"}
      %span 4
    %a{href: "#"}
      %span 5

%section.panel#testimonial
  .container
    #carousel2
      .testimonial
        .profile.pic1
        %p "Being an active sponsor for Aqqaluk Trust gives me something to be proud of! Knowing that I have a part in improving the lives of children and preserving culture is a great feeling!"
      .testimonial
        .profile.pic2
        %p "Aqqaluk Trust helps prepare our children for their futures."
      .testimonial
        .profile.pic3
        %p "Language class has shown me how fun learning our language can be."
      .testimonial
        .profile.pic4
        %p "Camp Sivu is important because it teaches me about who I am, where I am from."

%section.panel#founder
  .container.wood1
  .founder
    .container
      %h2
        %span.hide-eq-4 Who is
        Robert Aqqaluk
        %span.hide-eq-4 Newlin Sr.?
  .container.wood2
    .quote
      %blockquote Hard work has changed somewhat. When I was growing up we had no stove oil, we had no electricity, we had no good homes . . .but we had to work in order to be alive. Things change, but there’s still a lot of things that a fellow can do.”
      %p -- Robert Aqqaluk Newlin, Sr.
      %p.last
        Learn how
        %a{:href => '#', :title => ''} Robert's vision
        can help you!

%section.panel#culture
  .container
    .culture
      %p Culture
