- content_for :title do
  News & Events
= currently_at 'News & Events'

%section.panel#news.hero
  .container
    %h1 News &amp; Events
%section.panel.hero_bottom
  .container
    %p Stay informed with the latest from Aqqaluk Trust

%section.panel#newsletters
  .container
    .newsletters
      %h2 Our Past Newsletters
      %ul
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5r0e-SLRXDMg?w=3', :title => ''} Vol. 4, No. 1, News from Aqqaluk Trust, September 20, 2013
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5pwQSh4rOew_?w=3', :title => ''} Vol. 2, No. 3, News from Aqqaluk Trust, October 2, 2012
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5kaCPvKBdSMI?w=3', :title => ''} Vol. 3, No. 3, News from Aqqaluk Trust, December 20, 2012

%section.panel#stories
  .container
    .stories
      %h2
        6th Annual Uuttukuu Snow Golf Challenge SUCCESS!
      .news-shrink
        %p All because of YOU we are able to provide educational scholarships and preserve the Inupiaq language and culture!
        %p We couldn’t have done it without all the fun-loving participants and generous sponsors.
        %p Thank you so much for making the 2015 Uuttukuu Snow Golf Challenge a record-breaker.
        %p Together, we raised over $41,000.
        %p Taikuullapiaq!
        %p Thank you very much!
        #grid
          %ul.gallery
            %li.grid-item
              = image_tag 'pics/news/success/golf (4).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (5).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (7).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (1).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (2).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (3).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (6).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (8).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (9).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (10).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (11).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (12).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (13).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (14).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (15).jpg', alt: 'Golf Challenge'
            %li.grid-item
              = image_tag 'pics/news/success/golf (16).jpg', alt: 'Golf Challenge'

        = image_tag 'pics/news/uuttukuu-logo.jpg', :alt => 'Uuttukuu Logo'
