- content_for :title do
  Donors & Sponsors

%section.panel#deadlines
  .container
    %p Aqqaluk Trust is a non-profit organization that relies on public funds and private contributions to provide programs and scholarships for the benefit of the Iñupiat of the NANA region.
    %p Our mission is the driving force of our organization and sole purpose. Supporting Aqqaluk Trust is sustaining the past, present, and future of our Iñupiaq people.
    %a{:href => '#', :title => ''} Donate Now!

%section.panel#deadlines
  .container
    %p Your donation makes a significant difference in the impact of our programs.  Your contribution supports educational scholarships, Iñupiaq language revitalization efforts, and cultural sustainability of the northwest Arctic region.

%section.panel#sponsors
  .container
    .sponsors
      =# link_to image_tag('logos/nrc-logo.png', :alt => 'NANA Regional Corporation', :width => '159', :height => '89'), 'http://nana.com/regional', :title => ''
      =# link_to image_tag('logos/ndc-logo.gif', :alt => 'NANA Development Corporation', :width => '161', :height => '89'), 'http://nana-dev.com/', :title => ''
      =# link_to image_tag('logos/akima-logo.png', :alt => 'Akima', :width => '207', :height => '61'), 'http://www.akima.com/', :title => ''
      =# link_to image_tag('logos/teck-logo.jpg', :alt => 'Teck Alaska', :width => '73', :height => '73'), 'http://www.teck.com/', :title => ''
      =# link_to image_tag('logos/whp-logo.png', :alt => 'WHPacific', :width => '145', :height => '35'), 'http://www.whpacific.com/', :title => ''
      %a{:href => 'http://nana.com/regional', :title => 'Visit NANA Regional Corporation', :class => 'ir nrc'}
        %span NANA Regional Corporation
      %a{:href => 'http://nana-dev.com/', :title => 'Visit NANA Development Corporation', :class => 'ir ndc'}
        %span NANA Development Corporation
      %a{:href => 'http://www.akima.com/', :title => 'Visit Akima', :class => 'ir akima'}
        %span Akima
      %a{:href => 'http://www.teck.com/', :title => 'Visit Teck Alaska', :class => 'ir teck'}
        %span Teck Alaska
      %a{:href => 'http://www.whpacific.com/', :title => 'Visit WHPacific', :class => 'ir whpacific'}
        %span WHPacific

%section.panel#thanks
  .container
    %p
      As of the 2013 school year, 340 scholarships were awarded to NANA Regional Shareholders, their dependents and descendants. The total dollar amount was about $874,000.  This funding would not be possible without the generosity of
      = succeed ',' do
        %a{:href => 'http://nana.com/regional', :title => ''}< NANA Regional Corporation
      = succeed ',' do
        %a{:href => 'http://www.teck.com/', :title => ''} Teck Alaska
      Robert Aqqaluk Newlin Sr. Memorial Trust Endowment, and from the many employees that contribute from
      = succeed ',' do
        %a{:href => 'http://nana-dev.com/', :title => ''} NANA Development
      = succeed ',' do
        %a{:href => 'http://nana.com/regional', :title => ''} NANA Regional
      = succeed ',' do
        %a{:href => 'http://www.akima.com/', :title => ''} AKIMA
      = succeed ',' do
        %a{:href => 'http://www.whpacific.com/', :title => ''} WHPacific
      Aqqaluk Trust Board of Trustee’s and staff, and many more individual supporters that give anonymously through the
      = succeed '.' do
        %a{:href => 'http://www.liveunitedanchorage.org/give', :title => ''} United Way Campaign of Anchorage
    =# link_to image_tag('logos/united-way-logo.jpg', :alt => 'United Way of Alaska', :width => '200', :height => '86 - '), 'http://www.liveunitedanchorage.org/give', :title => ''
    / %a{:href => 'http://www.liveunitedanchorage.org/give', :title => '', :class => 'ir united-way'}
    /   %span United Way of Alaska
