- content_for :title do
  Support Us
= currently_at 'Support Us'

%section.panel#support.hero
  .container
    %h1 Support Us
%section.panel.hero_bottom
  .container
    %p Aqqaluk Trust is a non-profit organization that relies on public funds and private contributions to provide programs and scholarships for the benefit of the Iñupiat of the NANA region.
    .pos_btn
      = link_to 'Donate Now!', '/Pledge Form.pdf', :title => '', :class => 'orange_btn'

%section.panel#image_row
  .container
    .image1
    .image2
    .image3

%section.panel#support_body
  .container
    %blockquote The Aqqaluk Trust makes a big difference for young adults.
    %p.quote_source Edward Morris
    %p.callout Our mission is the driving force of our organization and sole purpose. Supporting Aqqaluk Trust is sustaining the past, present, and future of our Iñupiaq people.
    %p Your donation makes a significant difference in the impact of our programs.  Your contribution supports educational scholarships, Iñupiaq language revitalization efforts, and cultural sustainability of the northwest Arctic region.
    = link_to 'Download Our Pledge Form', '/Pledge Form.pdf', :title => 'Become a sponsor', :class => 'blue_btn'

%section.panel#sponsors
  .container
    .sponsors
      %a{:href => 'http://nana.com/regional', :title => 'Visit NANA Regional Corporation', :class => 'ir nrc'}
        %span NANA Regional Corporation
      %a{:href => 'http://nana-dev.com/', :title => 'Visit NANA Development Corporation', :class => 'ir ndc'}
        %span NANA Development Corporation
      %a{:href => 'http://www.akima.com/', :title => 'Visit Akima', :class => 'ir akima'}
        %span Akima
      %a{:href => 'http://www.teck.com/', :title => 'Visit Teck Alaska', :class => 'ir teck'}
        %span Teck Alaska
      %a{:href => 'http://www.whpacific.com/', :title => 'Visit WHPacific', :class => 'ir whpacific'}
        %span WHPacific

%section.panel#thanks
  .container
    %p.p_shrink
      As of the 2013 school year, 340 scholarships were awarded to NANA Regional Shareholders, their dependents and descendants. The total dollar amount was about $874,000.  This funding would not be possible without the generosity of
      = succeed ',' do
        %a{:href => 'http://nana.com/regional', :title => ''}< NANA Regional Corporation
      = succeed ',' do
        %a{:href => 'http://www.teck.com/', :title => ''} Teck Alaska
      Robert Aqqaluk Newlin Sr. Memorial Trust Endowment, and from the many employees that contribute from
      = succeed ',' do
        %a{:href => 'http://nana-dev.com/', :title => ''} NANA Development
      = succeed ',' do
        %a{:href => 'http://nana.com/regional', :title => ''} NANA Regional
      = succeed ',' do
        %a{:href => 'http://www.akima.com/', :title => ''} AKIMA
      = succeed ',' do
        %a{:href => 'http://www.whpacific.com/', :title => ''} WHPacific
      Aqqaluk Trust Board of Trustee’s and staff, and many more individual supporters that give anonymously through the
      = succeed '.' do
        %a{:href => 'http://www.liveunitedanchorage.org/give', :title => ''} United Way Campaign of Anchorage
