- content_for :mobile_navigation do
  #header
    %a{:href => '#menu', :title => 'Menu'}

  %nav{:role => "navigation", :id => "menu"}
    %ul
      = nav_to 'Home', root_path
      = nav_to 'About Us', pages_about_us_path
      = nav_to 'News & Events', root_path, class: 'mobile-sub'
      = nav_to 'Founder', root_path, class: 'mobile-sub'
      = nav_to 'Board Members', root_path, class: 'mobile-sub'
      = nav_to 'Staff', root_path, class: 'mobile-sub'
      = nav_to 'Education', pages_education_path
      = nav_to 'Savaktuq', pages_savaktuq_path
      = nav_to 'Language & Culture', pages_language_path
      = nav_to 'Camp', pages_camp_path
