%head
  %meta{:charset => "utf-8"}
  %link{:rel => "dns-prefetch", :href => "//use.typekit.net"}
  %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
  /[if IE] %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

  %title= content_for?(:title) ? ("Aqqaluk Trust - " + yield(:title)) : "Aqqaluk Trust"

  %meta{:name => "description", :content => "Aqqaluk Trust"}
  %meta{:name => "viewport", :content => "width=device-width"}
  -# to match layout to device width and set zoom level to 1:1
  -# %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  %meta{:property => "og:title",       :content => "Aqqaluk Trust"}
  %meta{:property => "og:description", :content => "Empowering the Iñupiat through language, culture and education."}
  %meta{:property => "og:image",       :content => "http://cdn0.aqqaluktrust.com/assets/touch/apple-touch-icon-d3105c0e2ad7c23feea69fb628664874.png"}

  = favicon_link_tag '/favicon.ico'
  = favicon_link_tag '/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'

  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false
  %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
  = javascript_include_tag 'modernizr.custom.53769'

  %script{src: "//use.typekit.net/lqa5gqo.js", type: "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}

  = csrf_meta_tag
