- content_for :main_navigation do
  %nav{:role => "navigation"}
    %a{:href => '#main', :title => '', :class => 'screen-reader-text'} Skip to main content
    .nav_primary
      %h3.screen-reader-text Sections:
      %ul
        = nav_location 'Home',               root_path,                 current: current_nav
        = nav_location 'About Us',           pages_about_us_path,        current: current_nav
        = nav_location 'Students',           pages_students_path,       current: current_nav
        = nav_location 'Language & Culture', pages_language_path,       current: current_nav, :id => 'language1'
        = nav_location 'Language',           pages_language_path,       current: current_nav, :id => 'language2'
        = nav_location 'Camp',               pages_camp_path,           current: current_nav
        = nav_location 'News & Events',      pages_news_path,           current: current_nav, :id => 'news1'
        = nav_location 'News',               pages_news_path,           current: current_nav, :id => 'news2'
        = nav_location 'Support Us',         pages_support_path,        current: current_nav
        = nav_location 'Memorial Fund',      pages_memorial_fund_path,  current: current_nav, :id => 'fund'
