!!!
%html.no-js{:lang => "en"}
  = head
  %body
    .wrapper
      = browsehappy
      %header{:role => "banner"}
        .container
          = render :partial => 'layouts/logo'
          = yield :main_navigation
          = render :partial => 'layouts/utility'
      #main{:role => "main"}
        = yield
      = render :partial => 'layouts/footer'
    = scripts
